# Python #
##########
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Ambiente virtual #
####################
venv/
.venv/
env/
.env
recommendation_venv/

# Jupyter Notebooks #
####################
.ipynb_checkpoints

# Arquivos de IDE #
###################
.vscode/
.idea/
*.swp
*.swo

# Logs e Dados #
################
*.log
*.csv
*.tsv
*.dat
*.db
*.sql
dataset/
ratings.pkl/

# Arquivos do Sistema #
#######################
.DS_Store
Thumbs.db
